@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,700i");
@font-face {
  font-family: Agilis;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/agilis.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */
}
/* line 4, ../sass/forms.scss */
.container {
  width: 40%;
  margin: 0 auto;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: rgba(127, 135, 138, 0.6);
  opacity: 0.9;
  border-radius: 7px;
  text-align: center;
  padding-bottom: 2rem;
}

/* line 16, ../sass/forms.scss */
.ng-valid[required], .ng-valid.required {
  border: 2px solid #42A948;
  /* green */
}

/*.ng-invalid:not(form)  {*/
/*  border: 2px solid #e0494a; /* red */
/*}*/
/* line 23, ../sass/forms.scss */
h2 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 3;
  font-weight: 300;
}

/* line 31, ../sass/forms.scss */
form .form-control {
  border-radius: 25px;
  height: 45px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #7f878a;
}
/* line 39, ../sass/forms.scss */
form .btn {
  width: 100%;
  background-color: #e0494a;
  border-radius: 20px;
  border: none;
  height: 45px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
}
/* line 52, ../sass/forms.scss */
form .btn:hover, form .btn:focus {
  outline: none;
  background-color: #872a2a;
  border: 0;
  color: #fff;
}

/* line 66, ../sass/forms.scss */
form .btn-green {
  background-color: #abd154;
}
/* line 68, ../sass/forms.scss */
form .btn-green:hover {
  background-color: #667D32;
}

/* line 73, ../sass/forms.scss */
input {
  cursor: pointer;
}

/* line 76, ../sass/forms.scss */
input[name="username"] {
  outline: none;
  background: url("../img/user.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 12px;
  background-size: 8%;
}

/* line 84, ../sass/forms.scss */
input[type="password"] {
  outline: none;
  background: url("../img/pass.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 15px;
  background-size: 7%;
}

/* line 92, ../sass/forms.scss */
input[type="email"] {
  outline: none;
  background: url("../img/mail.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 10px;
  background-size: 12%;
}

/* line 100, ../sass/forms.scss */
.form-link {
  color: #bfc1c3;
  line-height: 2.3;
  text-transform: uppercase;
  font-size: 11px;
}
/* line 105, ../sass/forms.scss */
.form-link:hover {
  color: #fff;
}

/* line 110, ../sass/forms.scss */
input[name="login-name"] {
  outline: none;
  background: url("../img/user-green.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 12px;
  background-size: 8%;
}

/* line 118, ../sass/forms.scss */
input[name="login-password"] {
  outline: none;
  background: url("../img/pass-green.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 15px;
  background-size: 7%;
}
