@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,700i");
@font-face {
  font-family: Agilis;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/agilis.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */
}
/* line 4, ../sass/forms.scss */
.container {
  width: 45%;
  margin: 0 auto;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: rgba(127, 135, 138, 0.5);
  opacity: 0.9;
  border-radius: 7px;
  text-align: center;
  padding-bottom: 2rem;
}

/* line 16, ../sass/forms.scss */
.ng-valid[required], .ng-valid.required {
  border: 2px solid #abd154;
  /* green */
}

/*.ng-invalid:not(form)  {*/
/*  border: 2px solid #e0494a; /* red */
/*}*/
/* line 23, ../sass/forms.scss */
h2 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 3;
  font-weight: 300;
}

/* line 31, ../sass/forms.scss */
form .form-control {
  border-radius: 25px;
  letter-spacing: 1;
  height: 45px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #7f878a;
}
/* line 40, ../sass/forms.scss */
form .btn {
  width: 100%;
  background-color: #e0494a;
  border-radius: 20px;
  border: none;
  height: 45px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
}
/* line 53, ../sass/forms.scss */
form .btn:hover, form .btn:focus {
  outline: none;
  background-color: #872a2a;
  border: 0;
  color: #fff;
}
/* line 62, ../sass/forms.scss */
form .btn[disabled] {
  background-color: #e0494a;
}
/* line 65, ../sass/forms.scss */
form .btn[disabled]:hover {
  background-color: #872a2a;
}

/* line 71, ../sass/forms.scss */
.loginform .btn, .loginform .btn[disabled] {
  background-color: #abd154;
}
/* line 73, ../sass/forms.scss */
.loginform .btn:hover, .loginform .btn:focus, .loginform .btn[disabled]:hover, .loginform .btn[disabled]:focus {
  background-color: #667D32;
}

/* line 85, ../sass/forms.scss */
input {
  cursor: pointer;
}

/* line 88, ../sass/forms.scss */
input[name="username"], input[name="business-name"], input[name="name"] {
  outline: none;
  background: url("../img/user.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 16px;
  background-size: 6%;
}

/* line 96, ../sass/forms.scss */
input[type="password"] {
  outline: none;
  background: url("../img/pass.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 15px;
  background-size: 5%;
}

/* line 104, ../sass/forms.scss */
input[type="email"] {
  outline: none;
  background: url("../img/mail.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 10px;
  background-size: 9%;
}

/* line 112, ../sass/forms.scss */
.form-link {
  text-align: center;
  color: #bfc1c3;
  line-height: 2.3;
  text-transform: uppercase;
  font-size: 11px;
}
/* line 118, ../sass/forms.scss */
.form-link:hover {
  color: #fff;
}

/* line 123, ../sass/forms.scss */
input[name="login-name"] {
  outline: none;
  background: url("../img/user-green.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 12px;
  background-size: 6%;
}

/* line 131, ../sass/forms.scss */
input[name="login-password"] {
  outline: none;
  background: url("../img/pass-green.png") no-repeat;
  background-color: #fff;
  padding-left: 53px;
  background-position: 15px;
  color: #bfc1c3;
  line-height: 2.3;
  text-transform: uppercase;
  font-size: 11px;
  background-size: 5%;
}
/* line 142, ../sass/forms.scss */
input[name="login-password"]:hover {
  color: #fff;
}

/* line 149, ../sass/forms.scss */
.business-profile-container, .user-profile-container {
  background-color: rgba(127, 135, 138, 0.5);
  width: 100%;
  border-radius: 7px;
}
/* line 153, ../sass/forms.scss */
.business-profile-container h2, .user-profile-container h2 {
  text-align: center;
}
/* line 156, ../sass/forms.scss */
.business-profile-container .business-profile, .business-profile-container .user-profile, .user-profile-container .business-profile, .user-profile-container .user-profile {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 45px;
}
/* line 160, ../sass/forms.scss */
.business-profile-container .business-profile .form-group, .business-profile-container .user-profile .form-group, .user-profile-container .business-profile .form-group, .user-profile-container .user-profile .form-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
/* line 165, ../sass/forms.scss */
.business-profile-container .business-profile .form-group input, .business-profile-container .user-profile .form-group input, .user-profile-container .business-profile .form-group input, .user-profile-container .user-profile .form-group input {
  width: 47%;
  padding-left: 80px;
  outline: none;
  background-color: #fff;
  background-position: 15px;
}
/* line 175, ../sass/forms.scss */
.business-profile-container .business-profile textarea, .business-profile-container .user-profile textarea, .user-profile-container .business-profile textarea, .user-profile-container .user-profile textarea {
  width: 100%;
  border-radius: 25px;
  padding-left: 80px;
  resize: none;
  outline: none;
  height: 25rem;
  margin-bottom: 15px;
  background-color: #fff;
  background-position: 18px 0px;
}
/* line 186, ../sass/forms.scss */
.business-profile-container .business-profile .upload-file, .business-profile-container .user-profile .upload-file, .user-profile-container .business-profile .upload-file, .user-profile-container .user-profile .upload-file {
  background-color: #fff;
  border-radius: 25px;
  height: 45px;
}
/* line 190, ../sass/forms.scss */
.business-profile-container .business-profile .upload-file input[type="file"], .business-profile-container .user-profile .upload-file input[type="file"], .user-profile-container .business-profile .upload-file input[type="file"], .user-profile-container .user-profile .upload-file input[type="file"] {
  outline: none;
  opacity: 0;
}

/* line 201, ../sass/forms.scss */
input [name="business-name"] {
  background-size: 6%;
}

/* line 205, ../sass/forms.scss */
input[name="street"], input[name="adress"] {
  background: url("../img/icons/street.svg") no-repeat;
  background-size: 9%;
}

/* line 210, ../sass/forms.scss */
input[name="city"] {
  background: url("../img/icons/city.svg") no-repeat;
  background-size: 9%;
}

/* line 214, ../sass/forms.scss */
input[name="zip"] {
  background: url("../img/icons/zip-code.svg") no-repeat;
  background-size: 11%;
}

/* line 218, ../sass/forms.scss */
input[name="phone"] {
  background: url("../img/icons/phone.svg") no-repeat;
  background-size: 9%;
}

/* line 223, ../sass/forms.scss */
input[name="fax"] {
  background: url("../img/icons/phone.svg") no-repeat;
  background-size: 9%;
}

/* line 227, ../sass/forms.scss */
input[name="website"] {
  background: url("../img/icons/website.svg") no-repeat;
  background-size: 12%;
}

/* line 232, ../sass/forms.scss */
input[name="category"] {
  background: url("../img/icons/business-category.svg") no-repeat;
  background-size: 9%;
}

/* line 236, ../sass/forms.scss */
textarea[name="bdescription"] {
  background: url("../img/icons/business-description.svg") no-repeat;
  background-size: 4%;
}

/* line 240, ../sass/forms.scss */
input[name="business-photo"], input[name="user-photo"] {
  background: url("../img/icons/business-photo.svg") no-repeat;
  background-size: 9%;
}

/* line 244, ../sass/forms.scss */
input[name="business-logo"] {
  background: url("../img/icons/business-logo.svg") no-repeat;
  background-size: 9%;
}

/* line 251, ../sass/forms.scss */
.form-btn {
  width: 30%;
  margin: 0 auto;
}

/* line 258, ../sass/forms.scss */
h4 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 3;
  text-align: center;
}

/* line 267, ../sass/forms.scss */
.user-profile .form-link {
  font-size: 12px;
  line-height: 8;
  text-transform: none;
}
/* line 272, ../sass/forms.scss */
.user-profile input[type="date"],
.user-profile select {
  width: 47%;
  padding-left: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 281, ../sass/forms.scss */
textarea[name="bio"] {
  background: url("../img/icons/bio.svg") no-repeat;
  background-size: 4%;
  background-position: 18px 0px;
}

/* line 286, ../sass/forms.scss */
select[name="gender"] {
  background: url("../img/icons/gender.svg") no-repeat;
  background-size: 12%;
  background-color: #fff;
  background-position: 15px;
}

/* line 292, ../sass/forms.scss */
input[name="birthday"] {
  background: url("../img/icons/birthday.svg") no-repeat;
  background-size: 9%;
}
