@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,700i");
@font-face {
  font-family: Agilis;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/agilis.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */
}
/* line 2, ../sass/modules/_all.scss */
body {
  position: relative;
  width: 100%;
  background: url("../../img/bg.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

/* line 9, ../sass/modules/_all.scss */
.wrapper {
  width: 71%;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}

/* line 15, ../sass/modules/_all.scss */
header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding-bottom: 7vh;
}

/* line 24, ../sass/modules/_all.scss */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}
/* line 30, ../sass/modules/_all.scss */
nav ul li {
  padding-left: 25px;
  text-align: center;
}
/* line 33, ../sass/modules/_all.scss */
nav ul li a {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #bfc3c5;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
/* line 40, ../sass/modules/_all.scss */
nav ul li a:hover {
  color: #fff;
  background-color: #e0494a;
  text-decoration: none;
}

/* line 53, ../sass/modules/_all.scss */
.logo img {
  width: 165px;
  height: 70px;
}

/* line 58, ../sass/modules/_all.scss */
main {
  margin-bottom: 6rem;
}

/* line 61, ../sass/modules/_all.scss */
footer {
  text-align: center;
}

/* line 65, ../sass/modules/_all.scss */
.social a {
  padding-left: 10px;
}

/*general styles*/
