@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,700i");
@font-face {
  font-family: Agilis;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/agilis.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */
}
/* line 3, ../sass/modules/_all.scss */
a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none;
}

/* line 7, ../sass/modules/_all.scss */
body {
  position: relative;
  width: 100%;
  background: url("../../img/bg.png") no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* line 19, ../sass/modules/_all.scss */
.wrapper {
  width: 71%;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}

/* line 26, ../sass/modules/_all.scss */
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding-bottom: 7vh;
}

/* line 42, ../sass/modules/_all.scss */
nav {
  /*width:50%;*/
}
/* line 43, ../sass/modules/_all.scss */
nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
/* line 54, ../sass/modules/_all.scss */
nav ul li {
  padding-left: 25px;
  text-align: center;
  cursor: pointer;
}
/* line 58, ../sass/modules/_all.scss */
nav ul li a {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #bfc3c5;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
/* line 66, ../sass/modules/_all.scss */
nav ul li a:visited {
  text-decoration: none;
}
/* line 69, ../sass/modules/_all.scss */
nav ul li a:hover {
  color: #fff;
  /*background-color: #e0494a;*/
  text-decoration: none;
}

/* line 82, ../sass/modules/_all.scss */
.loginLink {
  border: 3px solid #fff;
  box-sizing: border-box;
  color: #fff;
}

/* line 88, ../sass/modules/_all.scss */
.signLink {
  background-color: #e0494a;
  color: #fff;
  padding: 13px 20px;
}

/* line 94, ../sass/modules/_all.scss */
.logo {
  /*width:50%;*/
}
/* line 96, ../sass/modules/_all.scss */
.logo img {
  width: 165px;
  height: 70px;
}

/* line 102, ../sass/modules/_all.scss */
main {
  margin-bottom: 6rem;
}

/* line 106, ../sass/modules/_all.scss */
footer {
  text-align: center;
}

/* line 110, ../sass/modules/_all.scss */
.social {
  margin-bottom: 30px;
}
/* line 112, ../sass/modules/_all.scss */
.social a {
  padding-left: 10px;
}

/*////////Search page//////////////*/
/* line 118, ../sass/modules/_all.scss */
.search-page {
  width: 65%;
  margin: 0 auto;
}
/* line 121, ../sass/modules/_all.scss */
.search-page h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
}
/* line 128, ../sass/modules/_all.scss */
.search-page h2 b {
  color: #abd154;
}
/* line 132, ../sass/modules/_all.scss */
.search-page h5 {
  color: #b6babc;
}

/* line 137, ../sass/modules/_all.scss */
#searchForm {
  margin: 30px 0 15px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
/* line 141, ../sass/modules/_all.scss */
#searchForm p,
#searchForm .styled-select,
#searchForm .search-btn {
  float: left;
  height: 55px;
  overflow: hidden;
}
/* line 149, ../sass/modules/_all.scss */
#searchForm p {
  width: 35%;
  margin: 0;
  background: #fff url(/img/caret.png) no-repeat 90%;
  border-radius: 30px 0 0 30px;
}
/* line 154, ../sass/modules/_all.scss */
#searchForm p input {
  width: 17em;
  height: 55px;
  padding: 0 20px;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
/* line 162, ../sass/modules/_all.scss */
#searchForm p input[placeholder] {
  font-weight: bold;
  color: #B8B8B8;
}
/* line 169, ../sass/modules/_all.scss */
#searchForm .styled-select {
  width: 40%;
  background: #fff url(/img/caret.png) no-repeat 90%;
  border-left: 1px solid #f0f0f0;
}
/* line 173, ../sass/modules/_all.scss */
#searchForm .styled-select select {
  width: 100%;
  height: 55px;
  padding: 0 25px;
  background: transparent;
  border: 0;
  color: #484848;
  outline: 0;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 186, ../sass/modules/_all.scss */
#searchForm .styled-select select option {
  font-weight: bold;
}
/* line 189, ../sass/modules/_all.scss */
#searchForm .styled-select select:focus {
  outline: none;
  border: none;
}
/* line 195, ../sass/modules/_all.scss */
#searchForm input::-webkit-calendar-picker-indicator {
  display: none;
}
/* line 199, ../sass/modules/_all.scss */
#searchForm .search-btn {
  position: relative;
  width: 25%;
}
/* line 202, ../sass/modules/_all.scss */
#searchForm .search-btn .submitSearch {
  width: 100%;
  height: 55px;
  padding-right: 25px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  background: #e0494a;
  border: none;
  border-radius: 0 30px 30px 0;
  transition: all .3s;
}
/* line 214, ../sass/modules/_all.scss */
#searchForm .search-btn .submitSearch:hover {
  background: #d22425;
}
/* line 218, ../sass/modules/_all.scss */
#searchForm .search-btn .search-icon {
  position: absolute;
  top: 20px;
  right: 25px;
  display: block;
  width: 15px;
  height: 15px;
  background: url(/img/search-icon.png) no-repeat center;
}

/* line 230, ../sass/modules/_all.scss */
.categories {
  padding-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

/* line 242, ../sass/modules/_all.scss */
.item {
  text-align: center;
}

/* line 245, ../sass/modules/_all.scss */
input[type="search"] {
  width: 100%;
}

/* line 248, ../sass/modules/_all.scss */
#lookFor {
  outline: none;
}
/* line 250, ../sass/modules/_all.scss */
#lookFor option {
  border-radius: 10px;
  width: 80%;
}

/*/*/
/* line 264, ../sass/modules/_all.scss */
h1 {
  color: #fff;
  text-align: center;
}

/* line 268, ../sass/modules/_all.scss */
.close {
  position: absolute;
  top: 0rem;
  right: -5rem;
}

/*general styles*/
@media only screen and (max-width: 1024px) {
  /* line 2, ../sass/modules/_media.scss */
  body {
    background-size: initial;
  }

  /* line 5, ../sass/modules/_media.scss */
  .wrapper {
    width: 90%;
  }

  /* line 8, ../sass/modules/_media.scss */
  h2 {
    line-height: 2;
  }

  /* line 11, ../sass/modules/_media.scss */
  .container {
    width: 60%;
  }

  /* line 14, ../sass/modules/_media.scss */
  input[name="username"], input[name="login-name"], input[type="password"] {
    background-size: 5%;
  }

  /* line 17, ../sass/modules/_media.scss */
  input[type="email"] {
    background-size: 8%;
  }

  /* line 20, ../sass/modules/_media.scss */
  .search-page {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 25, ../sass/modules/_media.scss */
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 31, ../sass/modules/_media.scss */
  nav {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  /* line 36, ../sass/modules/_media.scss */
  .container {
    width: 95%;
    margin: 0 auto;
  }

  /* line 41, ../sass/modules/_media.scss */
  .search-page {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  /* line 46, ../sass/modules/_media.scss */
  .container {
    width: 90%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 52, ../sass/modules/_media.scss */
  .container {
    width: 90%;
  }
}
/*responsive styles*/
