body {
    position:relative;
    width:100%;
    background: url("img/bg.png") no-repeat;
    background-size: 100%;
}
.wrapper {
    width:71%;
    margin:0 auto;
    position:relative;
    padding-top:30px;
}