<div class ="user-profile-container">
    <h2>User <b>Profile</b></h2>
    <form class="user-profile"  #uprofile="ngForm" >
        <div class="form-group">
            <input type="text" class="form-control"
                   name="uname"  placeholder = "Name" maxlength="25" ngModel #name="ngModel" required >
            <input type="text" class="form-control"
                   name="uname"  placeholder = "Username" maxlength="25" ngModel #uname="ngModel" required >
        </div>
        <div class="form-group">
            <input type="email" class="form-control"
                   name="email"  placeholder = "Email" maxlength="25" ngModel #email="ngModel" required >
            <input type="text" class="form-control"
                   name="phone"  placeholder = "Phone Numder" maxlength="25" ngModel #phone="ngModel"  pattern="[0-9]{10}" required >
        </div>
        <h4>Optional</h4>
        <!--<fieldset>-->
        <textarea name="bio" class="form-control" placeholder="Bio"></textarea>
        <div class="form-group">

            <!--<input type="" class="form-control"-->
                   <!--name="gender"  placeholder = "Gender" maxlength="25" ngModel #gender="ngModel" required >-->
            <select title="fsf" class="form-control" name="gender">
                <option selected hidden disabled>Gender</option>
                <option >Male</option>
                <option>Female</option>
            </select>
            <input type="date" class="form-control" name="birthday"
                   placeholder = "Birthday" maxlength="25" min="1920-01-01" max="2008-01-01" ngModel #birthday="ngModel" required >
        </div>
        <div class="form-group">
            <input type="text" class="form-control"
                   name="adress"  placeholder = "Address" maxlength="25" ngModel #adress="ngModel" required >

            <input type="text" class="form-control" name="user-photo"  placeholder = "User Photo"
                   maxlength="25" ngModel #bphoto="ngModel" required >

        </div>
        <div class="load-file">
        <label class="uploader" ondragover="return false;"
               [class.loaded]="loaded"
               [style.outlineColor]="dragging ? activeColor : baseColor"
               (dragenter)="handleDragEnter()"
               (dragleave)="handleDragLeave()"
               (drop)="handleDrop($event)">

            <i class="icon"
               [style.color]="dragging
            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
            : ((imageSrc.length > 0) ? overlayColor : baseColor)"><h3>Enter your photo</h3></i>

            <img
                    [src]="imageSrc"
                    (load)="handleImageLoad()"
                    [class.loaded]="imageLoaded"/>
            <input type="file" name="file" accept="image/*"
                   (change)="handleInputChange($event)">

            <!--<input ngModel #bphoto="ngModel" accept="image/*" (change)="handleInputChange($event)">-->
        </label>
        </div>
        <!--</fieldset>-->
        <div class ="form-link">
        <a href="#" class="form-link">By signing up, you agree to Locify's Terms of Service and Privacy Policy</a></div>
        <div class="form-btn">
            <button type="submit" class="btn">Submit</button>
        </div>

    </form>

</div>