<div class ="business-profile-container">
    <h2>Business <b>Account</b></h2>
    <form class="business-profile" novalidate #bprofile="ngForm" >
        <div class="form-group">
            <input type="text" class="form-control"
                   name="business-name"  placeholder = "Business Name" maxlength="25" ngModel #business="ngModel" required >
            <input type="text" class="form-control"
                   name="street"  placeholder = "Street Adress" maxlength="25" ngModel #street="ngModel" required >
        </div>
        <div class="form-group">
            <input type="text" class="form-control"
                   name="city"  placeholder = "City" maxlength="25" ngModel #city="ngModel" required >
            <input type="text" class="form-control"
                   name="zip"  placeholder = "Zip" maxlength="25" ngModel #zip="ngModel" pattern="[0-9]{10}"  required >
        </div>
        <div class="form-group">
            <input type="text" class="form-control"
                   name="phone"  placeholder = "Phone" maxlength="25" ngModel #phone="ngModel"  pattern="[0-9]{10}" required >
            <input type="text" class="form-control"
                   name="fax"  placeholder = "Fax" maxlength="25" ngModel #fax="ngModel"  pattern="[0-9]{10}" required >
        </div>
        <div class="form-group">
            <input type="url" class="form-control"
                   name="website"  placeholder = "Website" maxlength="25" ngModel #site="ngModel" required >
            <input type="text" class="form-control"
                   name="category"  placeholder = "Business Category" maxlength="25" ngModel #category="ngModel" required >
        </div>
        <textarea name="bdescription" class="form-control" placeholder="Business Description"></textarea>
        <div class="form-group">
            <div class="business-load-file">
                <input type="text" class="form-control" name="business-photo"  placeholder = "Business Photo"
                       maxlength="25" ngModel #bphoto="ngModel" disabled >
                <uploader></uploader>
            </div>
            <div class="business-load-file">
                <input type="text" class="form-control"
                   name="business-logo"  placeholder = "Business Logo" maxlength="25" ngModel #blogo="ngModel" disabled >
                <uploader></uploader>
            </div>
        </div>

        <!--<div class="business-load-file">-->
            <!--<uploader></uploader>-->
            <!--<uploader></uploader>-->
            <!--&lt;!&ndash;<div class="uploader">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type='file' (change)="readUrl($event)">&ndash;&gt;-->
                <!--&lt;!&ndash;<img [src]="url"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="uploader">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type='file' (change)="readUrl($event)">&ndash;&gt;-->
                <!--&lt;!&ndash;<img [src]="url"></div>&ndash;&gt;-->

        <!--</div>-->

        <div class="form-btn">
            <button type="submit" class="btn">Submit</button>
        </div>

    </form>
</div>