<div class="search-page">
    <h2>Location services on<br>usual phones.<b>For free.</b></h2>
    <form id="searchForm">
        <p><input list="lookFor" placeholder="I am looking for"/>
        <datalist id="lookFor">
            <!--<option disabled hidden selected>I am looking for</option>-->
            <option value="first"></option>
            <option value="second"></option>
            <option value="first"></option>
            <option value="second"></option>
            <option value="first"></option>
            <option value="second"></option>
        </datalist></p>
        <select>
            <option selected value="ny">New York</option>
            <option value="ny">New York2</option>
            <option value="ny">New York3</option>
        </select>
        <input type="submit" class="submitSearch"value="Search">
    </form>
    <div class="categories">
        <div class="item">
            <img src="../img/1item.png" alt="shop"/>
            <h5>Shop</h5>
        </div>
        <div class="item">
            <img src="../img/2item.png" alt="local events"/>
            <h5>Local Events</h5>
        </div>
        <div class="item">
            <img src="../img/3item.png" alt="news"/>
            <h5>News</h5>
        </div>
        <div class="item">
            <img src="../img/4item.png" alt="entertainment"/>
            <h5>Entertainment</h5>
        </div>
    </div>
</div>