<div class="search-page">
    <h1>Location services on<br>usual phones.<b>For free.</b></h1>
    <form id="searchForm" class="clearfix">
        <p>
            <input list="lookFor" placeholder="I am looking for..."/>
            <datalist id="lookFor">
                <option value="first"></option>
                <option value="second"></option>
                <option value="first"></option>
                <option value="second"></option>
                <option value="first"></option>
                <option value="second"></option>
            </datalist>
        </p>
        <div class="styled-select">
            <select>
                <option selected value="ny">New York</option>
                <option value="ny">New York2</option>
                <option value="ny">New York3</option>
            </select>
        </div>
        <div class="search-btn">
            <input class="submitSearch" type="submit" value="Search">
            <span class="search-icon"></span>
        </div>
    </form>
    <div class="categories">
        <div class="item">
            <a href="#"><img src="../img/1item.png" alt="shop"/></a>
            <h5>Shop</h5>
        </div>
        <div class="item">
            <a href="#"><img src="../img/2item.png" alt="local events"/></a>
            <h5>Local Events</h5>
        </div>
        <div class="item">
            <a href="#"><img src="../img/3item.png" alt="news"/></a>
            <h5>News</h5>
        </div>
        <div class="item">
            <a href="#"><img src="../img/4item.png" alt="entertainment"/></a>
            <h5>Entertainment</h5>
        </div>
    </div>
</div>