@import "modules/variables";
body {
  position:relative;
  width:100%;
  background: url("../../img/bg.png") no-repeat;
  background-size: 100%;
  background-position: center;
  height:100vh;
}
.wrapper {
  width:71%;
  margin:0 auto;
  position:relative;
  padding-top:30px;
}
header {
  width:100%;
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding-bottom:7vh;
}
nav {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;

    li{
      padding-left:25px;
      text-align:center;
      cursor: pointer;
      .active {
        color:#fff;
        text-decoration: none;
      }
      a {
        font-family: $general-font;
        font-size:1.2em;
        color:#bfc3c5;
        padding:10px 20px;
        border-radius: 5px;
        text-decoration: none;
        &:visited {
          text-decoration: none;
          color:#bfc3c5;

        }
        &:hover {
          color:#fff;
          background-color: #e0494a;
          text-decoration: none;
        }
      }

    }
    .active {
      color:#fff;
    }
  }
  //width:50%;
}
.logo {
  //width:50%;
  img {
    width:165px;
    height:70px;
  }
}
main {
  margin-bottom:6rem;
}
footer {
  text-align: center;
}
.social{
  a{
    padding-left: 10px;
  }
}
//////////Search page//////////////
.search-page {
  width:50%;
  margin:0 auto;
  h2 {
    text-align: center;
    font-family: $general-font;
    color:#fff;
    font-size:30px;
    font-weight: 300;
    line-height:1.5;
    b{
      color:#abd154;
    }
  }
  h5{
    color:#b6babc;
  }
}
.categories {
  padding-top:30px;
  width:100%;
  display:flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}
.item {
  text-align: center;
}
input[type="search"] {
  width:100%;
  outline:none;
}
///
h1 {
  color:#fff;
  text-align: center;
}
