@import "modules/variables";

/* File Uploader Styles  */
.business-load-file {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.load-file {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
label {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.uploader input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  //background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  margin-top: -70px;
  height: 110px;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 25px;
  border:2px solid #fff;
  //outline: 3px solid #ccc;
  //outline-offset: 5px;
  position: relative;
  //float:right;
  width:47%;
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
  z-index: 2;
}

.uploader img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.uploader img.loaded {
  opacity: 1;
  z-index: 1;
}






.text-danger {
  color: #ffffff;
  margin-top: 5px;
  line-height:2;
}

a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none;
}

body {
  position: relative;
  width: 100%;
  background: rgba(0,0,0,0) url("../../img/bg.png") no-repeat;
  background-size: cover;
  background-position: left bottom;
  background-attachment: fixed;

  //height: 100vh;
  
}

.wrapper {
  //width: 71%;
  max-width:1070px;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  padding-bottom: 7vh;
}

nav {
  ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;

    li {
      padding-left: 25px;
      text-align: center;
      cursor: pointer;
      a {
        text-transform: uppercase;
        font-family: $general-font;
        font-size: 13px;
        color: #bfc3c5;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        &:visited {
          text-decoration: none;
        }
        &:hover {
          color: #fff;
          /*background-color: #e0494a;*/
          text-decoration: none;
        }
      }

    }

  }
  /*width:50%;*/
}

.loginLink {
  border: 3px solid #fff;
  box-sizing: border-box;
  color: #fff;
}

.signLink {
  background-color: #e0494a;
  color: #fff;
  padding: 13px 20px;
}
.signLink:visited {
    color: #fff;
  }

.logo {
  /*width:50%;*/
  img {
    width: 165px;
    height: 70px;
  }
}

main {
  margin-bottom: 6rem;
}

footer {
  text-align: center;
}

.social {
  margin-bottom:30px;
  a {
    padding-left: 10px;
  }
}

/*////////Search page//////////////*/
.search-page {
  width: 65%;
  margin: 0 auto;
  h1 {
    text-align: center;
    font-family: $general-font;
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    //line-height: 1.5;
    b {
      color: #abd154;
    }
  }
  h5 {
    color: #b6babc;
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 0;
    //margin: 0;
  }
}

#searchForm {
  margin: 50px 0 30px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  p,
  .styled-select,
  .search-btn {
    float: left;
    height: 55px;
    overflow: hidden;
  }

  p {
    width: 35%;
    margin: 0;
    background: #fff url(/img/caret.png) no-repeat 90%;
    border-radius: 30px 0 0 30px;
    input {
      width: 17em;
      height: 55px;
      padding: 0 20px;
      background: transparent;
      border: 0;
      outline: 0;
      cursor: auto;
      &[placeholder] {
        font-weight: bold;
        color: #B8B8B8;
      }
    }
  }
  
  .styled-select{
    width: 40%;
    background: #fff url(/img/caret.png) no-repeat 90%;
    border-left: 1px solid #f0f0f0;
    select {
      width: 100%;
      height: 55px;
      padding: 0 25px;
      cursor:pointer;
      //background: transparent;
      background: rgba(0, 0, 0, 0);
      border: 0;
      color: #484848;
      outline: 0;
      font-weight: bold;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      option {
        font-weight: bold;
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  input::-webkit-calendar-picker-indicator {
    display: none;
  }

  .search-btn {
    position: relative;
    width: 25%;
    .submitSearch {
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      width: 100%;
      height: 55px;
      padding-right: 25px;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
      background: #e0494a;
      border: none;
      border-radius: 0 30px 30px 0;
      transition: all .3s;
      &:hover {
        background: darken(#e0494a, 10%);
      }
    }
    .search-icon {
      position: absolute;
      top: 20px;
      right: 25px;
      display: block;
      width: 15px;
      height: 15px;
      background: url(/img/search-icon.png) no-repeat center;
    }
  }
}

.categories {
  padding-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //-ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

.item {
  text-align: center;
}
input[type="search"] {
  width:100%;
}
#lookFor {
  outline: none;
  option{
    border-radius: 10px;
    width:80%;
  }
}
//option {
//  &:checked, &:hover {
//    color: white;
//    background: #488f8f !important;
//  }
//}


/*/*/
h1 {
  color: #fff;
  text-align: center;
}
.close{
  position:absolute;
  top: 0rem;
  right: -5rem;
}



