@media only screen and (max-width:1024px) {
  body {
     background-size: initial;
  }
  .wrapper {
    width:90%;
  }
  h2 {
    line-height: 2;
  }
  .container {
    width:60%;
  }
  input[name="username"], input[name="login-name"], input[type="password"] {
    background-size: 5%;
  }
  input[type="email"] {
    background-size: 8%;
  }
  .search-page {
    width:70%;
  }
}
@media only screen and (max-width:768px) {

}
@media only screen and (max-width:425px) {

}
@media only screen and (max-width:375px) {

}
@media only screen and (max-width:320px) {

}