@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i');
@font-face {
    font-family: Agilis;
    src: url(../fonts/agilis.ttf);

}

$text-size:21px;
$general-width:100%;
$general-font:'Lato', sans-serif;
